#form-buttons {
    margin-left:9em;
    padding-top: 1em;
}

.wide {
    width: 100%;
    height: 350px;
    background-image: url('../../img/applications-banner.jpg');
    background-size: cover;
    margin-bottom: 2em;
    color: #fff;
}

.navbar-inner {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 50px;
    padding-top: .5em;
    padding-left: .5em;
}

#norecords {
    display: none;
}
.row-head{
    padding:.75em;
    background-color: #eaeaea;
}
.row-data{
    padding:.75em;

}

.exp {
    font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
    font-size: 1.5em;
    margin-left: .5em;
}

.block .message.info p {
  
  color: #006598;
}
.block .block_head h1 {
  font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #555;
  text-shadow: 1px 1px 0 #fff;
  float: left;
}
.block form input.submit:hover{
    color:#363636;
    text-shadow: none;
}

#doit {
    
    background-color: #000;
    padding: 1em;
    color: #FA9600;
}

.navbar-inner h1 {
    margin-top: 0px;
}
#inputLast,#inputFirst,#inputDiv,#inputDept{margin-bottom: 1em;}

#profile_btn, #cancel_btn, #image_confirm, #newimage {
    display: none;
}

#edit_expertise, #edit_rsca {
    margin-right: 10px;
}

#edit_link, #edit_exp_link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 5px;
}

#rsca-currcontent {
    padding: 2em;
    line-height: 2em;
}

#editexplink {
    padding: 5px;
    text-align: right;
}

.editicon {
    float: right;
}

/*#selectdiv, #selectexp {
    padding: 2em;
    margin-left: 4.5em;
}
*/

#deplabel {

    text-align: right;
    margin-bottom: 30px;
}

#deptsdisplay, #expert-results {
    display: none;
}

#ref-text {
    margin-right: 5px;
}

#ref-plus {
    text-align: right;
}

.control-label {
    margin-right: 30px;
}

#ksearch {
    margin-right: 1em;
    margin-top: .5em;
}

#refined {
    display: none;
    margin-top: 20px;
}

.card {
    font-size: 10pt;
    display: block;
}

.showno {
    font-size;
    10pt;
    float: left;
    margin-right: 5px;

}

.optinbox {
    padding: 25px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #D9EDF7;
    border: 2px solid #096189;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    font-size: 1em;

}

.optoutbox {
    padding: 25px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #ecf7d4;
    border: 2px solid #748e47;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    font-size: 1em;

}

.opted_in, .opted_out {
    display: none;
}

.exp_opt_out {
    display: none;
}

#confirm, #confirm_out, #explist, #rscalist {
    display: none;
}

.hint {
    display: none;
    margin-left: 10px;
    color: #4cae4c;
}

.exp_opt_in, .exp_opt_out {
    clear: both;
    margin: auto;
    width: 100%;
    padding: 0px 20px;

}

.opted_in {
    float: left;
    width: 50%;
    padding: 0px 20px;
    margin-left: 20px;
}

#optincb, #optoutcb {
    margin: 10px;
    line-height: 2em;
}

.buttonbox {
    margin-top: 2.25em;
    margin-bottom: 2em;
}

.selectexp {
    margin-bottom: 20px;
}

.edited-content {
    width: 100%;
    height: 220px;
    line-height: 2em;
}

#change-content {
    margin-left: 1em;
}

.item {
    display: block;
    min-height: 200px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px 10px;
    margin-bottom: 15px
}

.item-title {
    margin-top: 50px;
    padding: 10px;
    font-size: 22px;
    background-color: #657574;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.boxit {
    width:75%;
    margin:auto;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fefefe;
    padding: 5px;
    

}
.editbox{
    border:solid 1px #ccc;
    border-radius: 4px;
    margin-top: 30px;
    padding:1em;
}

.img-circle {
    text-align: center;
    padding-top: 10px;
}

#main-edit {
    margin-left: 10px;
}

.img-text {
    color: #4c4521;
    text-align: center;
}

.form-group {
    margin-bottom: 0px !important;
}

#expert-desc {
    height: 165px;
}

#upd_exp, #upd_rsca {
    color: #4cae4c;
    padding: 1em;
    font-weight: bold;
    display: none;
}

#expert_pro {
    margin-right: 1.5em;
}

.codebox {
    background: #fff;
    border: 1px solid #cacaca;
    font-size: 12px;
    display: block;
}

.codebox-title {
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #cacaca;
    background: url("../images/codebox-bg.png") repeat-x scroll 0 0 #ececec;
}

.top-pad {
    padding: 20px;
    margin-bottom: 10px;
}

.codebox-title h4 {
    line-height: 40px;
    float: left;
    display: inline;
    font-weight: bold;
    font-family: CuprumFFU, "Trebuchet MS", Arial, sans-serif;
}

#well-profile {
    margin-top: 2em;
    height: 265px;
}

#sub-data, #sub-data-canceled, #sub-data-submitted {
    display: none;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.file {
    visibility: hidden;
    position: absolute;
}

#subfile {
    display: inline-block;
    height: 35px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 2px;
    padding-left: 3px;
}

li.user {
    list-style: none;
    color:#fff;
}

.details {
    padding: .5em;
}

.details span {
    margin-left: 5px;
}

li.user a {
    color: #FA9600;
}

.box-header h2 {
    font-size: 1.25em;
    
}

#email-list {
    margin-bottom: 20px;
}

.colheight {
    height: 350px;
    margin-bottom: 1em;
}

#details {
    display: none;
}

.thumbnail {
    height: 100%;
}

#profiles {
    margin-bottom: 6em;
}

.tbresults {
    line-height: 40px !important;
}

#div_results {
    display: none;
}

#division_results {
    margin-top: 25px;
}

#new_approver,#del_approver {
    display: none;
}

#about{padding:2em; background: rgba(224,224,224,0.1); font-size:16px;line-height:2em;font-weight:700;display:none;}
#ab-icon,#how-icon{padding-left:1.35em;padding-top:1em;padding-right:.25em;margin-bottom:20px;font-size: 22px;}
#btn_newapp{padding-right: 10px;}
#btn_delapp{
    display:none;
}
#how{display: none;}

.mega {
    height: 50px !important;
}

.navbar-inner {
    background-color: #333;
    width: 100%;
    height: 70px;
    padding-top: .5em;
    padding-left: .5em;
}

#user_results,#del_user_results {
    display: none;
    background-color: #fafafa;
}
.approw{
    background-color: #f5f5f5;
    padding:20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 2px;
    padding-left: 3px;

}
#cancel_upbtn{display: none;}
#detail-img {
   border-radius: 50%; 
}
.modal{width:50%;margin:auto;top:200px;}
.navbar{margin-bottom: 0px;}
.navbar-inner {
        height: 70px;
    }
#adminnav{background-color: #ccc; color:#000;background-image: none;}
#adminnav a{color:#000;}
#adminnav a:hover{background-color: #f0f0f0;}
#option-results{margin-top:1em;}
#keywords{width:80%;}
#facpro{width:75%;
padding:5px;margin:auto;}
#editmode{display:none;font-size:20px;font-weight:300;color:#ff3200;margin-left: 1em;text-decoration: underline;}
body {background-color: #fff;}
#options{display:none;margin-bottom:1em;}
#navigation .top-navigation.scroll{transition:all .2s ease-in;background:rgba(0,0,0,.75);z-index:20;border:0 solid transparent}
.navbar-header{background:rgba(0,0,0,.75);}
.showtext{padding:.55em;font-weight: 400;}
.init-hide{display:none!important;}
.btn-info{background-color: #1f7f9c;border-color:#1f7f9c;}
.btn-info:hover{background-color: #408242;border-color: #408242;}

#table-results th:focus {
    border: 1px solid #4d90fe;
    background:#337ab7;
    color:#fff;
}
#srch,#unsrch{border-color: #333;}
.univ-name{
        display:none;
    }
    #closedets{text-align: right;
        padding: 1em;
    }

@media only screen and (max-width:770px){

.university-name{display:block;}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .navbar-inner {
        background-color: #333;
        width: 100%;
        height: 50px;
        padding-top: .5em;
        padding-left: .5em;
    }

    .block.small.right {
        float: none;

    }

    .navbar-inner {
        height: 200px;
    }

    #keywords{
        margin-left:2em;
        margin-right:2em;
        margin-top:1em;
        margin-bottom: 2em;
        width:85%;
    }
    #howlink{
        clear:both;
    }

    #keywords{width:80%;margin:auto;}

    #form-buttons{
        margin-left: 0;
        padding-top: 0;
    }
    #ref-plus{
        text-align: left;
    }
    #searchkeywords{
        text-align: center;
    }
    .univ-name{
        display:block;
    }
    .university-name{
        display:none;
    }
    .boxit{width:100%;}
    body p{font-size:12px;}
}

